annotated-types==0.8.0
dnspython==2.9.0
email-validator==2.3.0
idna==3.20
lark==1.3.1
pydantic==2.14.0
pydantic_core==2.50.0
scim2-models==0.12.2
scim2-server==0.8.0
typing-inspection==0.4.4
typing_extensions==4.16.0
